.addTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 40px;
  background-color: #b4d8ff;
}

@media (min-width: 768px) {
  .addTaskContainer {
    flex-direction: row;
    align-items: flex-end;
  }
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
  outline: none;
  transition: border-color 0.3s;
  height: 80px;
}
.inputField:focus {
  border-color: #007bff;
}

.inputLabel {
  font-weight: bold;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 11px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.errorField {
  padding: 10px;
  border: 1px solid #e60000;
  flex: 1;
  outline: none;
  transition: border-color 0.3s;
  &::placeholder {
    color: #e60000;
  }
}

.errorField:focus {
  border-color: #e60000;
}
