.addTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 40px;
  background-color: #ededed;
}

@media (min-width: 768px) {
  .addTaskContainer {
    flex-direction: row;
    align-items: flex-end;
  }
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.inputField,
.errorField {
  padding: 10px;
  padding-left: 20px;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
  height: 40px;
  font-size: 18px;
}
.inputField:focus {
  border-color: #007bff;
}

.errorField {
  border: 2px solid #e60000;
  &::placeholder {
    color: #e60000;
  }
}

.errorField:focus {
  border-color: #e60000;
}

.inputLabel {
  font-weight: bold;
  margin-bottom: 10px;
}

.addButton {
  height: 64px;
  min-width: 200px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #065ebd;
}
